.row {
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: center;
  }
  
  .game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tile-color);
    width: 100px;
    height: 100px;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px #102129;
  }